h1 {
    color: #24A19C;
}

body {
  
    background-color: #FAEEE7;
}

article {
    padding-left: 30%;
}

p {
    color: #D96098;
}

h2 {
    color: #325288;
}
ol { 
    color: #24A19C;
}

.h1text-patika { font-size: 35px;}

